/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
/* #Basic Styles
================================================== */
	body {
		background: #fff;
		font: 14px/21px "Open Sans", sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #181818;
		font-family: "Open Sans", sans-serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 0px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: #fff; text-decoration: none; underline: none;  utline: 0; }
	a:hover, a:focus { color: #ffc52c; }
	p a, p a:visited { line-height: inherit; }


/* #Page Styles
================================================== */

/* Header Images
================================================== */
#headerImage {
		background-image: url("../images/main_share_v2.jpg");
    background-position: center;  
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

/* Header
================================================== */
.logo {
	margin-top: 50px;
}
nav.eight.columns.offset-by-five {
	margin-top: 60px;
}

/* Navigation
================================================== */
 nav ul li {
	display: inline;
  /*float: right;*/
}
ul li {
	margin: 2px;
  /*float: right;*/
}
ul.pullRight {
  float: right;
}
.eight.columns.offset-by-five {
	text-transform: uppercase;
	font-weight: 600;	
  float: right;
}

.sign-up-border {
    border: 1px solid #ffc52c;
    padding: 10px;
    border-radius: 5px;
 }

/* Main-Text Section
================================================== */
div#main-text.sixteen.columns {
	margin: 0 auto 0 auto;	
}

.main-lead {
    text-align: center;
    font-size: 72px;
    font-weight: 800;
    padding-top: 100px;
    margin-bottom: 70px;
    color: #fff;
    
}
.main-sub-lead{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
	text-transform: uppercase;
  color: #fff;
  margin-bottom: 90px;
}
.start_button_cta {
    background-color: #ffc52c;
    width: 195px;
    height: 55px;
    font-size: 1.438em;
    border-radius: 25px;
    color: #fff;
    border: 1px solid #ffc52c;
    border-top: 1px solid #ffc52c;
    border-left: 1px solid #ffc52c;
    text-shadow: none;
    box-shadow: 2px 3px 5px #333333;
    font-size: 1.438em;
    margin-left: 376px;
}

/* #VideoSection
================================================== */
#videoImage {
    background-image: url("../images/bar-feet-legs-v2.jpg");
    background-position: center;  
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}
.video-text {
    text-align: center;
    padding-top: 60px;
    font-size: 36px;
    color: #fff;
    font-weight: 800;
}

.play-button {
    background: url("../images/Play_Button.png") no-repeat;
} 

/* #WriteSection
================================================== */
#writeSection {
    height: 510px;
    background-color: #fff;
    position: relative;
  }

#writeSection.sixteen.columns {
    background-image: url("../images/jottlymacbook_lefthalf.png");
    background-size: 555px 508px;
    background-repeat: no-repeat;
    background-position: 100% 0%;  
    background-attachment: scroll;
}


/* Collaborate Section 
================================================== */
  #collabSection {
    height: 610px;
    background-color: #CEECEA;
  }
  
  #collabSection.sixteen.columns {
    background-image: url("../images/jottlymacbook_righthalf.png");
    background-size: 720px 597px;
    background-repeat: no-repeat;
    background-position: 0% 100%;  
    background-attachment: scroll;
}

/* Connect Section
================================================== */
  #connectSection {
    height: 472px;
    background-color: #eaeaea;
  }
  .iphone-mobile {
    position: absolute;
    right: 0px;
        /*margin-left: 1175px;*/
    margin-top: -140px;
  }
  .container .column, .container .columns {
    margin-left: 0px;
  }

/* Combined Rules for WRITE/COLLAB/CONNECT
================================================== */
  .section-lead {
    margin-top: 135px;
    text-transform: uppercase;
  }
  p.text-sub-lead {
    margin-top: 35px;
    line-height: 30px;
    text-transform: none;
    font-weight: 400;
  }
/* Section/Text Rules for COLLAB
================================================== */
  .section-lead.collab{
    margin-left: 30%;
  }
  p.text-sub-lead.collab{
    margin-left: 30%;
  }

/* What People Saying Section
================================================== */
  #sayingSection {
    height: 747px;
    background-color: #ffc52c;
  }
  .sub-lead {
    text-align: center;
    font-size: 48px;
    padding-top: 75px;

  }
  .eight.columns.slider {
  	margin-left: 8px;
  	margin-top: 200px;
    margin-bottom: 200px;
  }
  .four.columns.alpha, .four.columns.omega {
    margin-left: -20px;
  }

  .commentor-statement {
    font-size: 18px;
    
  }
  .commentor-name {
    font-weight: bold;
    
  }
  .commentor-company-title {
    font-weight: lighter;
    
  }
  .indicator {
    margin-left: 388px;

  }
.commentor-name, .commentor-company-title {
    font-size:16px; 
}
.commentor-statement, .commentor-name, .commentor-company-title {
    color:#fff;
    
}
  
/* Sign-Up Section 
================================================== */
  #sign-upSection {
    background-image: url("../images/Time_waits_v2.jpg");
    background-position: center;  
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 472px;
}
.sign-lead {
    font-size: 72px;
    font-weight: 900;
    padding-top: 50px;
}
.sign-sub-lead {
    color: #fff;
    margin-top: 50px;
    font-size: 45px;
}
.sign-sub-sub-lead {
    font-size: 24px;
    color: #fff;
    margin-top: 21px;
}
.sign_up_button_cta {
    background-color: #fb0c06;
    width: 195px;
    height: 55px;
    font-size: 24px;
    border-radius: 12px;
    color: #fff;
    border: 1px solid #fb0c06;
    border-top: 1px solid #fb0c06;
    border-left: 1px solid #fb0c06;
    text-shadow: none;
    margin-top: 25px;
    box-shadow: 2px 3px 5px #333333;
}

/* Footer Section
================================================== */
#footerSection {
  background-color:#374042;
  height: 250px;
}

  /*hr.hr-bottom{
   margin-top: 0px;
   margin-bottom: 75px;

  }*/
  #nav-bottom.sixteen.columns {
    text-align: center;
    padding-top: 70px;
    margin-bottom: -30px;
    font-weight: 600;
  }
  /*ul.footer-nav {
   margin-top: 100px;
   text-align: center;
}*/

  .footer {
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
    font-size: 14px;
}

/* DRY RULES for What People Saying and Sign-Up
================================================== */
.sub-lead, .sign-lead {
    color: #fff;
    /*margin-top: 150px;*/
}
/* #Media Queries
================================================== */
/* Smaller than standard 1200 (devices and browsers) */
  @media only screen and (max-width: 1149px) {
.iphone-mobile {
    position: relative;
    right: 0px;
        /*margin-left: 1175px;*/
    margin-top: 0px;
    z-index: 0;
  }
#sayingSection {}
  }

	/* Smaller than standard 975 (devices and browsers) */
	@media only screen and (max-width: 975px) {
    .seven.columns.clearfix.writeSection {
      width: 375px;
      padding: 10px; 
    }
    .eight.columns.offset-by-five 
  }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
    .start_button_cta {
      margin-left: 125px;
    }
    nav.eight.columns.offset-by-five.nav{
      display: none;
    }
    .sixteen.columns.hr {
      display: none;
    }
    .six.columns.offset-by-three.write.hide-mobile,
    .seven.columns.clearfix.collab.hide-mobile,
    img.iphone-mobile.hide-mobile {
      display: none;
    }
    .eight.columns.slider {
      margin-left: 90px;
      margin-top: 12px;
      margin-bottom: 0px;
    }
    .indicator {
      display: none;
    }
}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
    h1 {
      font-size: 125px;
    }

    .six.columns.offset-by-three.write.hide-mobile,
    .seven.columns.clearfix.collab.hide-mobile,
    .hide-mobile {
      display: none;

    }
    h1.main-lead {
      font-size: 51px;
    }
    h6.main-sub-lead {
      font-size: 23px;
    }
    .start_button_cta {
      margin-left: 60px;
    }
    h3.sub-lead {
      font-size: 27px;
    }
    .commentor-statement {
      font-size: 13px;
    }
    .commentor-name, .commentor-company-title {
      font-size: 14px;
    }
    .footer {
      font-size: 10px;
    }
  }



/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/